
/* defindo os botoes */
.btn{   


    --btn-color:var(--bg-color);
    --btn-bg-color:var(--text-color-secondary);

    border: 0;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-items: center;

    /* serve pra se encaixa defntro do conteudo */
    width: fit-content;

    border-radius: .5rem;

    /* definindo um tamanho do botao */
    font: var(--fw-md) var(--fs-base)/1.5rem var(--font-family);


    cursor: pointer;
    
    background: var(--btn-bg-color);
    color: var(--btn-color);
}

/* dando um degrade no botao quando passa o mause por cima */
.btn:hover{
    --btn-bg-color:linear-gradient(
        90deg,
        var(--brand-color-secondary)0%,
        var(--brand-color-primary)100%
    );
    /*  */
    --btn-color:var(--surface-color);
    -webkit-background-clip:initial;
    background-clip: initial;
    color: var(--btn-color);

}


.btn-sm{
    padding: .5rem 1rem;
    font-size: var( --fs-sm)
}

.btn-md{
    padding: .75rem 1.5rem;
    font-size: var(--fs-base);

}


.btn-lg{
    padding: 1rem 2rem;
    font-size: 1.25rem;

}

/* pra o segundo estilo de botao */
/* dessa forma cria um botao q so aparece as bordas e as letras,com a cor e claro q vc defenir */
.btn[aria-label] {

    position: relative;

    &::before{
        content: "";
        position: absolute;
        border-radius: inherit;
        inset: 1.5px;
        background-color: var(--bg-color);

    }
    &::after{
        /* pega o atributo do aria-label q esta  nas aspas duplas no html e mostra  */
        content: attr(aria-label);
        background: var(--btn-bg-color);

        /* pra fazer um recorte conforme o texto */
        /* deixando o botao com o degrade so nas bodar e letras */
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        z-index: 1;
    }

}
/* lembrando q media ta configurando pra q se a tela for maior q 80em colocar as configuracos q estao abaixo  */
@media (width >= 80em) {

    .btn-sm{
        padding: .75rem 1.5rem;
        font-size: var(--fs-base);

    }


    .btn-md{
        padding: 1rem 2rem;
        font-size: 1.25rem;

    }
    
}