#download{
  
    .card{
        /* definindo o tamnho da caixa */
        padding: 3rem 1.5rem 15rem;
        position: relative;

          /* defenindo a img do rapaz escutando musica */
        & > img{
            width: 14.5rem;
            position: absolute;
            bottom: 0;
            right: -3.5rem;
    
        }
    }
    .button{
        /* pq se tiver pouco espaco ele vai jogar pra baixo */
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    /* mexendo no card pra deixa ele mas pro meio/pra ser especifico nas tag de nomes */
    @media ( width >=80em){
        .card{
            padding:8.75rem 5rem; 

            & > div:nth-child(1){
                max-width: 40rem;
            }
            /* definindo o tamnho da img */
            & >img{
                width: 29.125rem;
            }
        }
    }
}