#features{
    /* parte das caixas,definindo o tamanho das caixas */
    & .cards{
        grid-template-columns: 17.5rem 1fr 1fr 17.5rem;
        grid-template-rows: 25rem 25rem;
        gap: 2rem;
    }

    & .card{
        position: relative;
        /* usando o overflow pra tira o transbordo da img */
        overflow: hidden;
        & img.desktop-only{
            /* mexendo na na img  q esta dentro do card e dentro do desktop-only  */
            position: absolute;
            max-width: 15rem;
            /* dar efeitos  */

            /* 1.horizntal /2.vertical /3.  espalhamente  o 0.34 e opacidade da cor*/ 
            filter: drop-shadow(1rem 1rem 4rem rgb(0 0 0/ 0.34));
            
      
        }
    }

 /* definindo onde cada img vai ficar */
    & .card:nth-child(1){
 /* pra dizer em qualinha comeca e termina */
        grid-column:1/2 ;
    }

    & .card:nth-child(2){
        /* pra dizer em qualinha comeca e termina */
        grid-column: 2/4;

        & > div {
            max-width: 16rem;
        }

        & .desktop-only{
            /* jogando a img q esta no desktop-only la no html na parte de card,jogando a img pra direita */
            bottom: 2rem;
            right: 2rem;
        }
    }


    & .card:nth-child(3){
        
        grid-column: 4/5;
    }

    & .card:nth-child(4){
        /* pra dizer em qual linha comeca e termina */
        grid-column: 1/3;
        grid-row: 2/3;

        & > div {
            /* jogando o h1/p pra esquerda */
            max-width: 16rem;
            margin-left: auto;
        }

        & .desktop-only{
           /* jogando a img pra direita */
            bottom: 2rem;
            left: 2rem;
        }
    }

    & .card:nth-child(5){
        /* pra dizer em qual linha comeca e termina */
        grid-column: 3/5;
        grid-row: 2/3;

        & > div {
            max-width: 16rem;
        }

        & .desktop-only{
            /* jogando a img q esta no desktop-only la no html na parte de card,jogando a img pra direita */
            top: 2rem;
            right: 2rem;
        }
    }
}